---
eleventyComputed:
    title: <%= site.title %>
---
<h1 class="d-none">Green Heart Technology</h1>
<h2 class="text-center">Services</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            WordPress
        </div>
        <div class="col text-center">
            Shopify
        </div>
    </div>
</div>